doctype html
html
  head
    title WebRTC Application
    link(type='text/css', rel='stylesheet', href='/assets/vendor/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='/assets/vendor/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='/assets/vendor/css/font-awesome.css')
    link(type='text/css', rel='stylesheet', href='/assets/css/styles.css')
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Serif')
  body
    h1 We have to talk.
    .image_container
      .inner_content
          input.conversation_id(value='cnvrst.on/fdsuf79sdhf98')
          .call_to_action Copy your unique conversation ID!
          h2 or
          .join_conversation Join an existing conversation
        .how_does_it_work How does it work?
    .dupa
      p ndsnlfjnlfsd
    .guide
      p
        | Designing a beautiful UI isn't easy when you're using ugly tools, so we went and built a tool
        br
        | that's as beautiful to look at and use as your concept will be once you build it in UXPin.

      .instruction_step
        .circle
          i.fa.fa-link
        h3 Share the conversation link
        small
          | Drag & Drop From A Massive
          br 
          | Library Of UI Elements
      .instruction_step
        .circle
          i.fa.fa-video-camera
        h3 Turn on your camera
        small
          | UXPin's Workbench Presents The
          br
          | Tools You Need
      .instruction_step
        .circle
          i.fa.fa-user.front_peer
          i.fa.fa-user.bg_peer
        h3 Start chatting as your peer joins
        small
          | We're Not Just Fans Of Beautiful
          br
          | Interfaces, We're Also Designers
        //- .chain &#183; &#183; &#183;
    .footer
      .links
        a(href='') Terms of Use
        a(href='') Privacy
        a(href='') About
        a(href='') Contact Us
      i.fa.fa-heart-o.heart
      p &#169; 2014 We have to talk.

    script(type='text/javascript', src='/assets/vendor/js/jquery.js')
    script(type='text/javascript', src='/assets/vendor/js/lodash.compat.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')

    script(type='text/javascript', src='/assets/js/ui.js')
    script(type='text/javascript', src='/assets/js/adapter.js')
    script(type='text/javascript', src='/assets/js/local_connection.js')