html
  head
    title WebRTC Application
    link(type='text/css', rel='stylesheet', href='/assets/vendor/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='/assets/css/styles.css')
  body
    .container
      .row
        .col-md-12
          h1 WebRTC
      .row
        #sidebar.col-sm-5.col-md-3.col-lg-3
          p
            | You are currently known as 
            strong#current-name
          form#name-form.form-inline
            .form-group
              input#name.form-control(placeholder='Update your name...')
            button.btn.btn-primary(type='submit') Submit
          table#active-users.table.table-hover
            thead
              tr
                th(colspan=2) Active users
            tbody
        #main.col-sm-7.col-md-9.col-lg-9
          .row
            .col-md-12
              .jumbotron
                h1 Hello!
                p.
                  This web application aims at providing a way to communicate with your friends
                  without a need to install any external software!
                #preview-btn.btn.btn-primary.btn-lg Turn on the camera
          .row
            .col-md-12
              p Remote peer
              video#remote-video
    script(type='text/javascript', src='/assets/vendor/js/jquery.js')
    script(type='text/javascript', src='/assets/vendor/js/lodash.compat.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')

    script(type='text/javascript', src='/assets/js/local_connection.js')
    script(type='text/javascript', src='/assets/js/sockets.js')