html
  head
    title WebRTC Application
    link(type='text/css', rel='stylesheet', href='/assets/vendor/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='/assets/css/styles.css')
  body
    #mainDiv.container
      table(border='1', width='100%')
        tr
          th Local video
          th Remote video
        tr
          td
            video#localVideo(autoplay='autoplay')
          td
            video#remoteVideo(autoplay='autoplay')
        tr
          td(align='center')
            textarea#dataChannelSend(rows='4', columns='60', disabled='disabled')
          td(align='center')
            textarea#dataChannelReceive(rows='4', cols='60', disabled='disabled')
        tr
          td(align='center')
            button#sendButton(disabled='disabled') Send

    script(type='text/javascript', src='/assets/vendor/js/jquery.js')
    script(type='text/javascript', src='/assets/vendor/js/lodash.compat.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')

    script(type='text/javascript', src='/assets/js/adapter.js')
    script(type='text/javascript', src='/assets/js/local_connection.js')